.logo {
  height: 2rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.read-the-docs {
  color: #888;

    a {
        color: #40AAFF;
        text-decoration: none;

        &:hover {
          color: #40AAFF;
          text-decoration: underline;
        }
    }
}
